---
---

$black: #333333;
$blue: #148AFF;
$grey: #EEF0F3;
$red: #E74C3C;
$white: #fff;
$yellow: #FFDF5C;

@mixin transition() {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

@mixin card {
  background: $white;
  box-shadow: 0 rem(22px) rem(34px) rem(-22px) rgba(0,0,0,0.50);
  border-radius: 25px;

  @media screen and (min-width:768px) {
    border-radius: rem(40px);
  }
}

$theme-root-font-size: 18px;

$font-size-root: $theme-root-font-size;

// Font unit conversion.
@function em($size, $context: $theme-root-font-size) {
  @return 1em * ($size / $context);
}

@function rem($size, $context: $theme-root-font-size) {
  @return 1rem * ($size / $context);
}

@import 'global';

@import 'typography';


/* MENU */

@import 'menu';

/* NAVIGATION */

@import 'navbar';

/* HOME */

@import 'page';
@import 'home';

/* WORK SECTIONS */


@import 'work';

@import 'buttons';


/* CASE STUDY */

@import 'case-study';

/* THANK-YOU */

@import 'thankyou';

/* MENU ICON */

@import 'menu-icon';

/* FOOTER */

@import 'footer';

/* MOTHERS DAY */

@import 'mothers-day';

/* FATHERS DAY */

@import 'fathers-day';