---
---

$dark-blue: #2C3E50;
$highlight: #14A1FF;

@mixin transition() {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}



@import 'global';

@import 'typography';

/* MENU */

@import 'menu';

/* NAVIGATION */

@import 'navbar';

/* WORK SECTIONS */

@import 'work';

@import 'buttons';

@media (min-width: 992px) {
  
}

@media (min-width: 1440px) {
  
}

/* ABOUT */

@import 'about';

/* CONTACT */

@import 'contact';

/* CASE STUDY */

@import 'case-study';

/* THANK-YOU */

@import 'thankyou';


/* MENU ICON */

@import 'menu-icon';
