---
---

$black: #333333;
$blue: #148AFF;
$grey: #EEF0F3;
$red: #E74C3C;
$white: #fff;
$yellow: #FFDF5C;

@mixin transition() {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

@import 'global';

@import 'typography';


/* MENU */

@import 'menu';

/* NAVIGATION */

@import 'navbar';

/* HOME */

@import 'home';

/* WORK SECTIONS */


@import 'work';

@import 'buttons';


/* ABOUT */

@import 'about';
@import 'philosophy';

/* CONTACT */

@import 'contact';

/* CASE STUDY */

@import 'case-study';

/* THANK-YOU */

@import 'thankyou';

/* MENU ICON */

@import 'menu-icon';

/* FOOTER */

@import 'footer';

/* MOTHERS DAY */

@import 'mothers-day';