---
layout: default
title: Matt Fitch - UI Designer
---

<div class="section-container" data-anchor="top">
  <div class="home-container">
    <h1 class="home-large">I'm Matt, and I like pizza.</h1>
    <p class="description">Pizza, like design, takes different ingredients and turns them into something delicious and digestible.<br><br>Before you get too hungry, take a look at some of <a href="#work">my pizzas</a> (aka work) or <a href="#contact">get in touch</a>.
  </div>
  <div class="my-mug"></div>
  <div class="home-beach">
    <div class="inspirational-quote">
      <p>A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away.</p>
      <cite>- Antoine de Saint-Exupéry</cite>
      <video autoplay loop class="video-background" muted plays-inline>
        <source src="/assets/video/video.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<div id="work">
  <div class="work-intro">
    <h1 class="large">Some of my Work</h1>
  </div>
  <div class="work-container">
    {% assign work = site.case-studies | sort: 'date' %}
    {% for project in work %}
    <div class="section-container" id="{{ project.anchor }}">
      <div class="content-container">
        <div class="project-info">
          <h2>{{ project.title }}</h1>
        </div>
        <div class="project-description">
          <p class="description">{{ project.description }}</p>
        </div>
        <div class="learn-container">
          <a href=" {{ project.link }}">
            <div class="learn-button">
              Learn More
            </div>
          </a>
          {% for link in project.links %}
          <a href="{{ link.link }}" target="_blank">
            <div class="learn-button">
              {{ link.text }}
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <img src="{{ project.image }}">
      <!--<div class="{{ project.feature-image }}"></div>-->
    </div>
  {% endfor %}
  </div>
</div>
<div class="section-container" id="about">
  <div class="about-me-container about-me-image">
    <div class="about-me-content">
      <img class="circle-img" src="/assets/images/circle-headshot.png" alt="circle mug">
      <div class="about-description-container">
        <h1 class="large center">T H O U G H T S</h1>
        <p>Pizza. I love pizza. It’s delicious, and it’s simple. It has everything you need and nothing you don’t. It comes with many different configurations, and no matter how outlandish an ingredient combination is, pizza still tastes good. (Yes, even canadian bacon and pineapple).</p>
        <p>Good design is like a pizza; it transforms basic ingredients into something amazing. I consider myself a pizza maker. I take ingredients, no matter how complex, and bake them into something delicious and easy to eat. And like pizza, folks tend to have different tastes. While some may like it basic, others prefer to spice it up (Linguapeño anyone?). Throughout my design career, I’ve learned that even if I have unsavory ingredients (yellow, purple, green, and orange… eeek) you can turn that into something unique and tasty.</p>
        <p>I’m a designer. I love clean, modern design. I love to take complex problems and bake them into something that is a joy to use. I love the golden ratio. I love creating, problem solving and working in a team. I love differences in opinion, and I love learning new things, but most importantly, I love life, and am fortunate enough to do what I love for a living.</p>
      </div>
    </div>
  </div>
  <div class="about-image">
  </div>
</div>
  <div class="section-container contact" id="contact">
    <div class="contact-left">
      <h1 class="large">Want to get in touch?</h1>
      <div class="contact-form">
        <form action="https://getsimpleform.com/messages?form_api_token=f7bb1dc7d2fe3dbb67770c5b6adffb52" method="post">
        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='http://mattfit.ch/thank-you' />
          <input type="text" name="name" placeholder="Name" required>
          <input type="text" name="email" placeholder="Email" required>
          <input type="text" name="phone" placeholder="Phone Number">
          <textarea name="comments" placeholder="How can I help?" required></textarea>
          <input class="full" type="submit" value="Send It!">
        </form>
      </div>
    </div>
    <div class="contact-logo">
    </div>
  </div>
