---
layout: default
title: Matt Fitch - UI/UX Designer and Developer - My Work
---
<div id="work" class="work-container">
  <div class="title">
    <h1>Work</h1>
  </div>
  <div class="work-content">
    Coming Soon!
  </div>
  <div class="projects-container">
    {% assign work = site.case-studies | sort: 'date' %}
    {% for project in work %}
    <div class="section-container" id="{{ project.anchor }}">
      <div class="content-container">
        <div class="project-info">
          <h2>{{ project.title }}</h2>
        </div>
        <div class="project-description">
          <p class="description">{{ project.description }}</p>
        </div>
        <div class="learn-container">
          <a class="learn-button" href=" {{ project.link }}">Learn More</a>
          {% for link in project.links %}
          <a class="learn-button" href="{{ link.link }}" target="_blank">{{ link.text }}</a>
          {% endfor %}
        </div>
      </div>
      <img src="{{ project.image }}">
      <!--<div class="{{ project.feature-image }}"></div>-->
    </div>
  {% endfor %}
  </div>
</div>