<footer id="footer">
  <div class="footer-content">
    <!-- <p>&copy; Matt Fitch 2021</p> -->
    <p class="copyright">&copy;Matt Fitch <span id="footer__current-year"></span></p>
    <script>document.getElementById('footer__current-year').innerHTML = new Date().getFullYear();</script>
    {% include logo.html %}
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/scripts/menu.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72026304-1', 'auto');
  ga('send', 'pageview');

</script>
