<div class="menu-button-container">
  <div id="nav-icon3" class="menu-button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="menu" class="menu hide">
  <ul>
    <li data-menuanchor="top"><a href="#top">Home</a></li>
    <li><a href="#work">Work</a></li>
    <li><a href="#about">Philosophy</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <img src="/assets/images/red-logo-02.png">
</div>
<nav class="navbar">
  <a href="/" class="logo">
    <img src="/assets/images/fitch-logo.svg" alt="Matt Fitch Logo" class="nav-logo">
  </a>
</nav>
