<div class="menu-button-container">
  <div id="nav-icon3" class="menu-button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="menu" class="menu hide">
  <ul>
    <li data-menuanchor="top" class="active"><a href="#top">Home</a></li>
    <li data-menuanchor="work"><a href="#work">Work</a></li>
    <li data-menuanchor="about"><a href="#about">About</a></li>
    <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
  </ul>
</div>
<nav class="navbar">
  <a href="/" class="logo">
    <img src="/assets/images/fitch-logo.png" alt="Matt Fitch Logo" class="nav-logo">
  </a>
  <div class="nav-container">
    <p class="my-title">Matt Fitch | Designer &amp; Developer</p>
  </div>
</nav>