<div class="menu-button-container">
  <div id="nav-icon3" class="menu-button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="menu" class="menu hide">
  <ul>
    <li><a href="/index.html#top">Home</a></li>
    <li><a href="/index.html#work">Work</a></li>
    <li><a href="/index.html#about">About</a></li>
    <li><a href="/index.html#contact">Contact</a></li>
  </ul>
</div>
<nav class="navbar">
  <a href="/index.html" class="logo">
    <img src="/assets/images/fitch-logo.png" alt="Matt Fitch Logo" class="nav-logo">
  </a>
  <div class="nav-container">
    <p class="my-title">Matt Fitch | Designer/Developer</p>
  </div>
</nav>