<nav class="navbar">
  <a href="/" class="logo">
    {% include logo.html %}
    <!-- <img src="/assets/images/fitch-logo.svg" alt="Matt Fitch Logo" class="nav-logo"> -->
  </a>
</nav>
<div class="menu-button-container">
  <div id="nav-icon3" class="menu-button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="menu" class="menu hide">
  <ul>
    <li><a class="home-link" href="/">Home</a></li>
    <li><a href="/philosophy">Philosophy</a></li>
    <li><a class="work-link" href="/work">Work</a></li>
    <li><a class="contact-link" href="/contact">Contact</a></li>
  </ul>
  <img src="/assets/images/red-logo-02.png">
</div>
