#about.section-container{
  overflow: visible;
  padding-top: 30px;
  display: flex;
  background: url(../assets/images/pizza.jpg);
  height:auto;
  margin-top: 50px;
  color: #f7f7f7;
}

.about-me-container {
  position: relative;
  top: 0px;
  left: 0px;
  //margin-top: 10px;
  width: 100%;
  //height: 100vh;
}

.circle-img {
  float: left;
  height: 100px;
  margin-right: 15px;
}

.about-me-content {
  display: inline-block;
  width: 100%;
  padding: 0px 20px 30px 20px;
  font-size: 1rem;
  line-height: 1.6rem;
}

.about-image {
  display:none;
}


@media (orientation: landscape) {
  .about-me-image {
    //display: none;
  }

  .about-me-content {
    text-align: left;
  }
}

@media (min-width: 768px) {

  .about-me-container {
    margin-top: 0px;
  }

  .about-me-image {
    display: inline-block;
    width: 100%;
    background-position: 90%;
  }

  .about-me-content {
    display: inline-block;
    margin-top: 50px;
    font-size: 1rem;
    line-height: 1.78rem;
  }

  .about-description-container {
    width: 55%;
    min-width: 700px;
    max-width: 900px;
    margin: auto;
    position: relative;
  }

  .circle-img {
    display: none;
  }
}

@media (min-width: 1100px) {

  #about.section-container{
    padding-top: 0px;
  }

  .about-me-content {
    margin: 30px 0;
    color: #f7f7f7;
    font-weight: 200;
    padding: 0 30px;
  }

  .about-description-container {
    min-width: 94%;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
  }

  .about-image {
    display: inherit;
    position: relative;
    background-image: url(../assets/images/about-me-landscape.png);
    background-size: cover;
    background-position: 100%;
    min-height: calc(100% + 1px);
    width: 100%;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0 100%);
    // transform: translateY(-1px);
  }
}
