.about-me-container {
  margin-top: 10px;
  width: 100%;
}

.about-me-image {
  display: none;
  background-image: url(../assets/images/about-me-image.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.circle-img {
  float: left;
  height: 100px;
  margin-right: 10px;
}

.about-me-content {
  display: inline-block;
  width: 100%;
  padding: 0px 20px 0px 20px; 
  font-size: .75rem;
  line-height: 1.2rem;
}

ul img {
  max-height: 25px;
  position: relative;
  top: 7px;
  margin-right: 10px;
}

@media (orientation: landscape) {
  .about-me-image {
    display: none;
    
  }
  .about-me-content {
    text-align: left;
  }
}

@media (min-width: 768px) {
  
  .about-me-container {
    margin-top: 5px;
  }
  
  .about-me-image {
    display: inline-block;
    min-height: 100vh;
    width: 40%;
  }
  
  .about-me-content {
    display: inline-block;
    vertical-align: top;
    width: 59%;
    padding: 0px 50px 0px 50px;
    margin-top: 20px;
    font-size: 1.1rem;
    line-height: 1.78rem;
  }
  
  .circle-img {
    display: none;
  }
}