.learn-button {
  display: inline-block;
  margin: 0 rem(5px) 0 rem(5px);
  padding: rem(10px) rem(8px) rem(8px) rem(8px);
  width: 40%;
  border-radius: rem(5px);
  background: rgba(231, 76, 60, 0.67);
  color: $white;
  font-size: .75rem;
  text-align: center;
  @include transition;

  &::before {
    content: none;
  }

  &:hover { 
    color: $white;
    background: $red;
  }

  @media (min-width: 768px) {
    font-size: rem(18px);
    line-height: 1;
  }
}