.case-study-container {

  .page-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: rem(20px) rem(20px);
    
    @media screen and (min-width:768px) {
      max-width: rem(950px);
      margin: rem(20px) auto;
    }
  }

  .back,
  .next {
    display: inline;
  }

  .next a,
  .back a {
    color: $black;
    font-size: .8rem;

    @media screen and (min-width:768px) {
      font-size: rem(18px);
    }
  }

  .next a:hover,
  .back a:hover {
    color: $red;
  }

  .next a:hover:before,
  .back a:hover:before {
    visibility: hidden;
  }

  .case-study h1 {
    text-align: center;
  }

  .case-study h2 {
    margin-top: rem(30px);
    text-align: center;
    font-size: 1.3rem;
  }

  hr {
    margin-bottom: rem(30px);
    max-width: rem(873px);
    text-align: center;
    border: 0;
    height: 1px;
    background: $black;

    @media screen and (min-width: 768px) {
        height: 2px;
        margin-bottom: 40px;
    }
  }

  .container p img {
    width: 100%;
    // max-width: 843px;
    margin-top: 30px;
  }

  .yellow {
    color: #FFB73E;
  }

  .case-study .learn-button {
    width: 50%;
    margin: 0 25% 0 25%;
    text-align: center;
  }

  .case-button a:hover:before {
    display: none;
  }
}

@media (min-width: 768px) {

  .back {
    //position: fixed;
    top: 80px;
    left: 30px;
    padding-top: 10px
  }

  .next {
    //position: fixed;
    top: 80px;
    right: 30px;
    padding-top: 10px
  }


  .case-study h1 {
    font-size: 2rem;
  }

  .case-study h2 {
    margin-top: 40px;
    font-size: 1.6rem;
  }

  hr {
    height: 2px;
    margin-bottom: 40px;
  }

  .case-study .learn-button {

    margin: 15px 25% 15px 25%;

  }
}

// @media (min-width: 1439px) {

//   .back,
//   .next { position: fixed; }
// }
