.case-study-container {

  .page-nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: rem(20px) rem(20px);
    
    @media screen and (min-width:768px) {
      max-width: rem(950px);
      margin: rem(20px) auto;
      padding: 0 rem(60px);
    }
  }

  .back,
  .next {
    display: inline;

    a {
      color: $black;
      font-size: .8rem;
  
      @media screen and (min-width:768px) {
        font-size: rem(18px);
      }

      &:hover {
        color: $red;

        &::before {
          visibility: hidden;
        }
      }
    }
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  h1 + h3 {
    margin-top: rem(-20px);
  }

  h2 {
    margin-top: rem(30px);
    font-size: 1.3rem;

    @media screen and (min-width: 768px) {
        margin-top: rem(40px);
        font-size: 1.6rem;
      }
    }

  h3 {
    text-transform: uppercase;
    color: rgba($black,.3);
  }

  h4 { margin-top: rem(60px); }

  hr {
    margin-bottom: rem(30px);
    max-width: rem(873px);
    text-align: center;
    border: 0;
    height: 1px;
    background: $black;

    @media screen and (min-width: 768px) {
        height: rem(2px);
        margin-bottom: rem(40px);
    }
  }

  .container p img {
    width: 100%;
    // max-width: 843px;
    margin-top: 30px;
  }

  .button-container {
    text-align: center;
    margin: rem(40px) 0;
  }

  .learn-button {
    // font-size: rem(2px);
  }
}

// @media (min-width: 1439px) {

//   .back,
//   .next { position: fixed; }
// }
