.blue-overlay {
  background-color: rgba($blue, .75)
}

.contact-container {
  width: 100%;
  color: $white;
  padding-top: 50px;
  min-height: calc(#{100vh} - 73px - 63px);

  a {
    color: $yellow;

    &::before { background-color: $yellow; }

    &:hover {
      &::before { background-color: $yellow; }
    }
  }

  .title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .contact-content {
    font-size: 20px;
    line-height:30px;


    @media screen and (min-width:768px){
      font-size: 28px;
      line-height: 38px;
      max-width: 950px;
      margin: auto;
    }
  }
}