footer {
  margin-top: auto;
  @include transition;
  padding: 0 20px;
  // margin-top: -70px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &.hide {
    opacity: 0;
  }

  p {
    font-size: .9rem;
  }

  svg {
    width: 80px;
    margin-bottom: 20px;
  }

  &.white {
    .footer-content { color: $white; }
    svg { fill: $white; }
  }
}
