*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 15px;
    background: $grey url(../assets/images/background--waves.jpg) center / cover no-repeat fixed;

    &::before {
      content: ' ';
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      background: rgba(255, 255, 255, .5);
      z-index: -1;
    }
}