.home-container {
  @include transition;
  opacity: 1;
  padding: 0 20px;

  .title {
    width: 100%;
    padding: 0 rem(20px) rem(20px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
      font-size: rem(50px);
      margin: rem(20px) 0 0 0;
      width: 100%;
    }

    .designer-text {
      font-size: rem(25px);
      font-family: 'Rock Salt', cursive;

      @media screen and (min-width:768px){
        font-size: rem(30px);
      }
    }

    .developer-text {
      font-family: 'Nova Mono', monospace;
      font-size: rem(28px);
      background: $black;
      color: $white;
      padding-left: rem(5px);
      padding-right: rem(3px);

      @media (min-width:768px){
        font-size: rem(38px);
      }
    }
  }

  .page-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      max-width: rem(1440px);
      margin: auto;
      width: 100%;
    }

    .feature-button {
      @include transition;
      // font-family: 'Nova Mono', monospace;
      font-size: rem(45px);
      font-weight: 400;
      color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      width: rem(300px);
      height: rem(300px); 
      border-radius: rem(150px);
      box-shadow: 0 rem(22px) rem(34px) rem(-22px) rgba(0,0,0,0.50);
      margin-bottom: rem(50px);

      @media screen and (min-width:768px){
        margin-bottom: 0;

        &::before {
          @include transition;
          content: " ";
          position: fixed;
          top:0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba($black, .6);
          z-index: -1;
          -webkit-transform: none;
          -moz-transform: none;
          -o-transform: none;
          transform: none;
          cursor: pointer;
          opacity: 0;
        }

        &:hover {
          background-color: $red;
          color: $white;
  
          &::before {
            opacity: 1;
            // -webkit-transform: none;
            // -moz-transform: none;
            // -o-transform: none;
            // transform: none;
          }
        }
      }

      &.work {
        &:hover {
          background-color: $yellow;
          color: $black;
        }
      }

      &.contact {
        &:hover {
          background-color: $blue;
        }
      }
    }
  }

  &.hide {
    opacity: 0;
  }
}