.menu {
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  // right: -100%;
  opacity: 0;
  background: $black;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: rem(200px);
    margin-top: rem(50px);
  }

  .home-link {

    &:before{ background-color: $white; }
    &:hover {
      color: $white;

      &:before { background-color: $white}
    }
  }

  .work-link {

    &:before{ background-color: $yellow; }
    &:hover {
      color: $yellow;

      &:before { background-color: $yellow}
    }
  }

  .contact-link {

    &:before{ background-color: $blue; }
    &:hover {
      color: $blue;

      &:before { background-color: $blue}
    }
  }
}

.menu .active a {
  color: $red !important;
}

.menu a:hover {
  color: $red;
}

.show {
  // right: 0px;
  opacity: 100;
  z-index: 200;
}

.menu-button-container {
  background: $white;
  border-radius: 0 0 0 rem(25px);
  position: fixed;
  right: 0;
  top: 0;
  padding: rem(20px);
  z-index: 201;
  box-shadow: 0 rem(22px) rem(34px) rem(-22px) rgba(0,0,0,0.50);

  &.hide {
    opacity: 0;
    z-index: -1;
  }
}

.menu ul {
  position: relative;
  //top: -10px;
}

.menu ul li {
  font-size: rem(40px);
  margin: rem(30px) auto;

  @media screen and (min-width:768px) {
    font-size: rem(50px);
    margin: rem(50px) auto;
  }
}

.menu ul li a {
  color: #fff;
}

.menu ul li.sub-menu{
  font-size: rem(15px);
}
