.red-overlay {
  background-color: rgba($red, .75)
}

.philosophy-container {
  width: 100%;
  color: $white;
  padding: 0 40px 0 30px;
  min-height: calc(#{100vh} - 73px - 63px);

  @media screen and (min-width:768px) {
    padding: 0 60px;
    min-height: calc(#{100vh} - 112px - 63px);
  }

  .title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .philosophy-content {
    font-size: 20px;
    line-height:30px;

    @media screen and (min-width:768px){
      font-size: 28px;
      line-height: 38px;
      max-width: 950px;
      margin: auto;
    }
  }

  &.show {

  }
}