.thank-you {
  margin-top: 90px;
}

.wide-btn .learn-button {
  display: block;
  width: 90%;
  margin: 0 auto 30px;
}


img.centered {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

@media (min-width: 768px) {
  .thank-you {
    margin-top: 50px;
  }
  
  .wide-btn .learn-button {
    width: 500px;
    margin: 30px auto 50px
  }
  
}