.yellow-overlay {
    background-color: rgba($yellow, .75)
}

.work-container {
  color: $white;
  min-height: calc(#{100vh} - 73px - 63px);
  text-align: center;

  @media screen and (min-width:768px) {
    min-height: calc(#{100vh} - 112px - 63px);
  }


  .title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .work-content {
    font-size: 20px;
    line-height:30px;

    @media screen and (min-width:768px){
      font-size: 28px;
      line-height: 38px;
      max-width: 950px;
      margin: auto;
    }
  }

  .hidden {
    display: none;
  }
}