.section-container {
  height: 100vh;
  overflow: hidden;
  padding-top: 50px;
}

.content-container {
  position: relative;
  width: 95%;
  max-width: 550px;
  text-align: center;
  margin: auto;
}

.home-container {
  position: relative;
  width: 95%;
  max-width: 550px;
  text-align: center;
  margin: 0 auto 15px;
  z-index: 2;
}

.description {
  font-size: .75rem;
  line-height: 1.25rem;
}

.learn-container {
   margin: 0 auto 25px;
}

.learn-container a:hover:before {
  visibility: hidden;
}

.my-mug {
  background-image: url(../assets/images/matts-mug2.png);
  background-position: 92%;
  background-size: cover;
  height: 70%;
}

.home-beach {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  background: #6E8FB0;
  padding: 0px 30px;
  margin-left: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
  text-align: center;
}

.home-beach:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.inspirational-quote {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin: auto;
  padding-left: 20px;
}

.inspirational-quote:before {
  content: url(../assets/images/quotes.svg);
  position: absolute;
  left: 14%;
}

.know-your-beer-image {
  background-image: url(../assets/images/knowyourbeer.png);
  background-position: top;
  background-size: cover;
  min-height: 70%;
}

.venue-template-image {
  background-image: url(../assets/images/venue-template.png);
  background-position: center;
  background-size: cover;
  min-height: 75%
}

.pay-crave-image {
  background-image: url(../assets/images/phone-stack.png);
  background-position: top;
  background-size: cover;
  min-height: 75%
}

.lil-bubbas-image {
  background-image: url(../assets/images/lil-bubbas.png);
  background-position: 72%;
  background-size: cover;
  height: 72%;
}

.death-of-the-pressbox-image {
  background-image: url(../assets/images/deathofthepressboxmobile.png);
  background-position: center top;
  background-size: cover;
  min-height: 65%;
}

.burgundy-upholstery-sky-image {
  background-image: url(../assets/images/burgundymobile.png);
  background-position: center top;
  background-size: cover;
  min-height: 65%;
}

@media (orientation:landscape) {
  .my-mug {
    background-position: 55%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .venue-template-image {
    background-position: bottom;
  }

  .death-of-the-pressbox-image {
    background-image: url(../assets/images/deathofthepressbox.png);
    background-position: bottom;
  }

  .burgundy-upholstery-sky-image {
    background-image: url(../assets/images/burgundy.png);
    background-position: bottom;
  }
}

@media (min-width: 786px) {

  .content-container {
    width: 80%;
    max-width: 700px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section-container {
    padding-top: 0px;
  }

  .home-container {
    position: absolute;
    top: 80px;
    left: 35px;
    width: 50%;
    max-width: 878px;
    text-align: left;
    padding: 0 15px 0 15px;
    margin: auto;
    border-radius: 5px;
    color: $black;
}


  .description {
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 2.11rem;
    letter-spacing: 0.5;
}

  .learn-button {
    font-size: 1rem;
    margin: 0 5px 0 5px;
  }

  .my-mug {
    height: 100vh;
  }

  .venue-template-image {
    background-position: 75% 80%;
  }

  .lil-bubbas-image {
    background-position: 100% 15%;
  }

  .death-of-the-pressbox-image {
  min-height: 57%;
  }

  .burgundy-upholstery-sky-image {
    min-height: 57%;
  }
}

@media (min-width: 1100px) {

  .my-mug {
    position: absolute;
    bottom: 0px;
    height: 40vh;
    width: 55.5%;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
  }

  .home-beach {
    display: inline-block;
  }

  .death-of-the-pressbox-image {
    background-image: url(../assets/images/deathofthepressboxlarge.png);
    min-height: 65%;
  }

    .burgundy-upholstery-sky-image {
      background-image: url(../assets/images/burgundylarge.png);
      min-height: 65%;
  }
}
