---
layout: default-alt-nav
---

<div class="container">
  {% if page.previous.url %}
  <div class="back">
    <a href="{{page.previous.url}}"><i class="fa fa-angle-left"></i>&nbsp;{{page.previous.title}}</a>
  </div>
  {% else %}
  <div class="back">
    <a href="/index.html#work"><i class="fa fa-angle-left"></i>&nbsp;Back to work</a>
  </div>
  {% endif %}
  {% if page.next.url %}
  <div class="next">
  <a href="{{page.next.url}}">{{page.next.title}}&nbsp;<i class="fa fa-angle-right"></i></a>
  </div>
  {% endif %}
  <div class="case-study">
    {{ content }}
  </div>
</div>
